<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{main_layout}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div layout:fragment="content" class="container my-3">

        <form method="post" class="my-3" th:object="${answerFormDto}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
            <p class="alert alert-danger" role="alert" th:errors="*{content}" th:if="${#fields.hasErrors('content')}"></p>
            <input type="submit" value="답변등록" class="btn btn-primary my-2">
        </form>
</div>

</html>